<mat-grid-list cols="16" rowHeight="1:2">
    <mat-grid-tile colspan="8" rowspan="2">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Articles per day</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <app-day-count-diagram [hidden]="!dayCountResultsReady" [lineChartData]="dayCountData" [lineChartLabels]="dayCountResultsDate"></app-day-count-diagram>
                <mat-progress-bar [hidden]="dayCountResultsReady" mode="buffer"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="3">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Top Words</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <app-word-cloud></app-word-cloud>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Top Articles/Day</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <app-count-table-card [hidden]="!topCountResultsReady" [results]="topCountResults" [columns]="topCountColumns"></app-count-table-card>
                <mat-progress-bar [hidden]="topCountResultsReady" mode="buffer"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Top Viewed Articles</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <app-count-table-card [hidden]="!topArticlesResultsReady" [results]="topArticlesResults" [columns]="topArticlesColumns"></app-count-table-card>
                <mat-progress-bar [hidden]="topArticlesResultsReady" mode="buffer"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Articles on day</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <app-card-count-at-day></app-card-count-at-day>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total Articles</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <app-card-big-number [hidden]="!totalArticlesResultReady" [value]="totalArticlesResult" [change]="totalArticlesChange"></app-card-big-number>
                <mat-progress-bar [hidden]="totalArticlesResultReady" mode="buffer"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total Views</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <app-card-big-number [hidden]="!totalViewsResultReady" [value]="totalViewsResult" [change]="totalViewsChange"></app-card-big-number>
                <mat-progress-bar [hidden]="totalViewsResultReady" mode="buffer"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>