<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Big Data Frontend</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="article">Articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="debug">Debug <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <span class="navbar-brand">
    <div [hidden]="!serverTimeReady">{{ serverTime | date:'EEEE, MMMM d, y':'+0200' }}</div>
    <mat-spinner [hidden]="serverTimeReady" [diameter]="20"></mat-spinner>
  </span>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>