<div class="container">
    <div class="v-container">
        <div class="big-number">{{ value }}</div>
        <div *ngIf="change != 0" class="big-number add" [@fadeAnimation]="'in'">
            <span *ngIf="change > 0">+</span>{{ change }}
        </div>
    </div>
</div>