.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .v-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .big-number {
      padding: 0;
      font-weight: bolder;
      font-size: xx-large;
      line-height: 3rem;
      text-align: center;
  }
  
  .add {
    color: green;
  }
  