<div class="main-div">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Articles</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- ------------------------------------------- -->
            <!-- ------------- search formular ------------- -->
            <!-- ------------------------------------------- -->
            <form [formGroup]="searchForm" class="content-right">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput #input formControlName="search" placeholder="Ex. ium" (keyup.enter)="onEnter(input.value)" >
                    <mat-error *ngIf="searchForm.controls.search.touched && searchForm.controls.search.invalid">
                        <span>Please use only alphanumeric characters.</span>
                    </mat-error>
                    <button mat-button *ngIf="searchForm.value.search" matSuffix mat-icon-button aria-label="Clear" (mousedown)="clearSearch()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-mini-fab type="submit" color="primary" [disabled]="!searchForm.value.search" (click)="search()"
                    aria-label="Search...">
                    <mat-icon>search</mat-icon>
                </button>
            </form>

            <!-- ------------------------------------------ -->
            <!-- ------------- articles table ------------- -->
            <!-- ------------------------------------------ -->
            <table mat-table [dataSource]="dataSource" class="table table-striped">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let data"> {{data.id}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let data"> {{data.date | date:'dd.MM.yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="headline">
                    <th mat-header-cell *matHeaderCellDef> Headline </th>
                    <td mat-cell *matCellDef="let data"> 
                        {{data.headline}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="viewCount">
                    <th mat-header-cell *matHeaderCellDef> View Count </th>
                    <td mat-cell *matCellDef="let data"> {{data.views.count}} </td>
                </ng-container>

                <ng-container matColumnDef="viewLast">
                    <th mat-header-cell *matHeaderCellDef> Last view </th>
                    <td mat-cell *matCellDef="let data"> {{ (data.views.last | date:'dd.MM.yyyy') || "never"}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="dataRow" *matRowDef="let myRowData; columns: displayedColumns" (click)="navigateArticle(myRowData.id)"></tr>
            </table>

            <!-- Row shown when there is no matching data. -->
            <div class="noResult" *ngIf="data.length === 0 && ready">
                No data available.
            </div>

            <div [hidden]="ready">
                <mat-progress-bar mode="buffer"></mat-progress-bar>
            </div>

            <!-- ------------------------------------------- -->
            <!-- ------------- table paginator ------------- -->
            <!-- ------------------------------------------- -->
            <mat-paginator *ngIf="pagination" [length]="pagination.resultsTotal" [pageIndex]="pagination.page - 1"
                [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="pageChanged($event)">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>