.main-div {
  margin: 30px 60px;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

th, td {
  padding: 5px 25px!important;
}

.content-right{
  text-align: right;
}

.dataRow:hover {
  background-color: rgba(0,0,0,.2);
  cursor: pointer;
}
