.main-div {
    margin: 30px 60px;
    justify-content: center;
    align-items: center;
}

#header-info {
  display: flex; 
  justify-content: space-between; 
  padding: 5px;
  margin-bottom: 1rem;
}

#fake-content {
  padding: 5px;
}