<div class="main-div">
    <mat-card class="mat-elevation-z8">
        <mat-progress-bar [hidden]="ready" mode="buffer"></mat-progress-bar>
        <div [hidden]="!ready">
            <div *ngIf="result" class="mat-card-header" style="display: flex; flex-direction: column; justify-content: space-between;">
                <div id="header-info">
                    <small>Server: {{backendserver}}</small>
                    <small>Cache: {{cacheresult}}</small>
                    <small>Views: {{result.views.count}} <span *ngIf="result.views.last">(Last View: {{result.views.last | date:'dd.MM.yyyy HH:mm':'+0200'}})</span></small>
                </div>
                <mat-card-title style="padding: 5px;">{{result.headline}}</mat-card-title>
                <mat-card-subtitle style="padding-left: 5px;">{{result.date | date:'dd.MM.yyyy'}}</mat-card-subtitle>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div id="fake-content" [innerHtml]="content"></div>
            </mat-card-content>
        </div>
    </mat-card>
</div>