<div [hidden]="!ready">
  <angular-tag-cloud
    [data]="data"
    [width]="800"
    [height]="550"
    [overflow]="false">
  </angular-tag-cloud>
</div>
<div [hidden]="ready">
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>