<div [hidden]="!ready">
   <div>
      <mat-form-field appearance="fill">
         <mat-label>Choose a day.</mat-label>
         <input matInput [matDatepicker]="picker" (dateInput)="inputEvent($event)" [formControl]="selectedDate">
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
         </mat-form-field>
   </div>
   <div >
      On {{ date | date:'dd.MM.yyyy' }} there were {{ count }} headlines published.
   </div>
</div>
<div [hidden]="ready">
   <mat-progress-bar mode="buffer"></mat-progress-bar>
 </div>