<div>
   <table mat-table [dataSource]="results" class="table table-striped">
      <ng-container *ngFor="let c of columns.displayedColumns" [matColumnDef]="c">
         <th mat-header-cell *matHeaderCellDef>{{ columns[c].name }}</th>
         <td mat-cell *matCellDef="let result">
            <span *ngIf="columns[c].type == 'string'">{{ result[c] }}</span>
            <span *ngIf="columns[c].type == 'date'">{{ result[c] | date:'dd.MM.yyyy' }}</span>
         </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns.displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns.displayedColumns;"></tr>
   </table>
</div>